PORT=3000
CLIENT_ORIGIN=http://localhost:5173
HOST_NAME=KAIMAN
HOST_TAGLINE=Turismo en Venezuela
LISTINGS_FILE=./listings.json
DESTINATIONS_FILE=./destinations.json
DESTINATION_IMAGES_DIR=../front/public/images
